<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ONSM, Oceania Nepali 5th-onsm Meet" />
    <metaname="author"content="Aakash Rayamajhi, Nabin Rayamajhi, Jabin Shrestha" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="ONSM.org.au" />

    {%if section.title%}
    <title>{{ section.title }} - ONSM</title>
    <meta name="og:title" content="{{ section.title }} - ONSM" />
    {%endif%}
    {%if page.title%}
    <title>{{ page.title }} - ONSM</title>
    <meta name="og:title" content="{{ page.title }} - ONSM" />
    {%endif%}
    {%if section.description%}
    <meta name="description" content="{{ section.description }}" />
    <meta name="og:description" content="{{ section.description }}" />
    {%endif%}
    {%if page.description%}
    <meta name="description" content="{{ page.description }}" />
    <meta name="og:description" content="{{ page.description }}" />
    {%endif%}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ get_url(path="css/site.css", cachebust=true) }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
        integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ=="
        crossorigin="anonymous" />

</head>

<body class="text-justify bg-light">
    <nav class="navbar navbar-expand-md navbar-light py-0"
        style="background-image: linear-gradient(to bottom left, orange,darkmagenta);">
        <div class="container">
            <div class="navbar-toggler-right text-nowrap">
                <a class="navbar-brand" href="{{ get_url(path="") }}">
                    <img asp-append-version="true" class="img-fluid"
                        src="{{ get_url(path="/img/onsm-banner.jpg", cachebust=true) }}" width="720" alt="ONSM Banner" />
                </a>
                <!-- <span class="text-primary mx-0" style="font-size: 1.1rem; font-weight:500;">
                    ONSM
                </span> -->
            </div>

            <div class="collapse navbar-collapse flex-column" id="navbar">
                <div class="navbar-nav w-100 justify-content-end mb-4">
                    <div class="text-nowrap" style="font-weight: 600; font-size:1.1rem">
                        <a class="mr-4 mt-2"
                            href="https://www.facebook.com/OceaniaNepaliSportsMeet/photos/?tab=album&ref=page_internal"
                            target="_blank">Photos & Videos</a>
                    </div>
                    <div style="font-size: 0.6rem;">
                        <a class="fab fa-facebook-f fa-2x mt-0 mr-4" target="_blank"
                            href="https://www.facebook.com/OceaniaNepaliSportsMeet"></a>
                        <a class="fab fa-instagram-square fa-2x mt-0 mr-4" target="_blank"
                            href="https://www.facebook.com/OceaniaNepaliSportsMeet/"></a>
                        <a class="fab fa-twitter fa-2x mt-0 mr-4" target="_blank" href="https://twitter.com/"></a>
                        <a class="fab fa-linkedin-in fa-2x mt-0 mr-2" target="_blank"
                            href="https://www.linkedin.com/"></a>
                    </div>
                </div>

                <div class="navbar-nav w-100 justify-content-end ml-3">
                    <div class="nav">
                        <form class="mr-4 mb-2" role="search" href="Search" method="get">
                            <div class="has-search mt-2">
                                <span class="fas fa-search form-control-feedback"></span>
                                <input type="text" class="form-control" placeholder="Search website..." name="q"
                                    id="q" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light sticky-top" style="background-color:purple" ;>
        <div class="container">
            <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="">
                    <i class="fas fa-bars"></i>
                </span>
            </button>

            <a class="fas fa-home fa-2x navbar-toggler bg-white" href="{{ get_url(path="") }}"></a>

            <div class="navbar-collapse collapse d-lg-inline-flex">
                <div class="navbar-nav flex-grow-0">
                    <!-- <div class="nav-item mr-4">
              <a class="nav-link text-white" href="{{ get_url(path="") }}">
                Home
              </a>
            </div> -->
                    <div class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle mr-4" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            href="{{ get_url(path="about-us") }}">
                            About Us
                        </a>
                        <div class="dropdown-menu text-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ get_url(path="about-us/our-story") }}">Our Story</a>
                            <a class="dropdown-item" href="{{ get_url(path="about-us/goals-objectives") }}">Goals &
                                Objectives</a>
                            <a class="dropdown-item" href="{{ get_url(path="about-us/our-teams") }}">Our Teams</a>
                            <a class="dropdown-item" href="{{ get_url(path="about-us/constitution") }}">Constitution</a>
                            <a class="dropdown-item" href="{{ get_url(path="about-us/code-of-conduct") }}">Code of
                                Conduct</a>
                            <a class="dropdown-item" href="{{ get_url(path="about-us/privacy-policy") }}">Privacy
                                Policy</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle mr-4" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            href="{{ get_url(path="achievements") }}">
                            Achievements
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ get_url(path="achievements/4th-onsm") }}">4th ONSM 2018</a>
                            <a class="dropdown-item" href="{{ get_url(path="achievements/3rd-nism") }}">3rd NISM
                                2016</a>
                            <a class="dropdown-item" href="{{ get_url(path="achievements/2nd-nism") }}">2nd NISM
                                2014</a>
                            <a class="dropdown-item" href="{{ get_url(path="achievements/1st-nism") }}">1st NISM
                                2013</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle mr-4" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            href="{{ get_url(path="5th-onsm") }}">
                            5th ONSM 2022
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/event-details") }}">Event Details</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/opening-ceremony") }}">Opening Ceremony</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/5-km-run") }}">5 KM Run</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/badminton") }}">Badminton</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/basketball") }}">Basketball</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/cricket") }}">Cricket</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/golf") }}">Golf</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/soccer") }}">Soccer</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/table-tennis") }}">Table Tennis</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/tennis") }}">Tennis</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/volleyball") }}">Volleyball</a>
                            <a class="dropdown-item" href="{{ get_url(path="5th-onsm/closing-ceremony") }}">Closing Ceremony</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle mr-4" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            href="{{ get_url(path="get-involved") }}">
                            Get Involved
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ get_url(path="get-involved/membership") }}">Membership</a>
                            <a class="dropdown-item" href="{{ get_url(path="get-involved/partnership") }}">Partnership</a>
                            <a class="dropdown-item" href="{{ get_url(path="get-involved/sponsorship") }}">Sponsorship</a>
                            <a class="dropdown-item" href="{{ get_url(path="get-involved/media-coverage") }}">Media Coverage</a>
                            <a class="dropdown-item" href="{{ get_url(path="get-involved/volunteering") }}">Volunteering</a>
                        </div>
                    </div>

                    <!-- <div class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle mr-4" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            href="{{ get_url(path="news-events") }}">
                            News & Events
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ get_url(path="news-events") }}">News Updates</a>
                            <a class="dropdown-item" href="{{ get_url(path="news-events#events-programs") }}">Events &
                                Programs</a>
                            <a class="dropdown-item" href="{{ get_url(path="news-events#useful-links") }}">Useful
                                Links</a>
                        </div>
                    </div> -->

                    <div class="nav-item">
                        <a class="nav-link text-white" href="{{ get_url(path="contact-us") }}">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="footer text-white-50 text-center bg-dark" style="font-size:medium">
        <div class="container">
            <a href="https://nubik.com.au" target="_blank">
                <span class="text-white-50">Site by:</span>
                <span style="color:coral;">Nü</span><span style="color:dodgerblue">Bik</span>
            </a>
            | <a class="text-white-50" href="{{ get_url(path="about-us/privacy-policy") }}">&copy; 2020 - <span class="text-light">ONSM</span>
            </a>
            | <a class="text-white-50" href="{{ get_url(path="about-us/privacy-policy") }}">Privacy Policy</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha256-OFRAJNoaD8L3Br5lglV7VyLRf0itmoBzWUoM+Sji4/8=" crossorigin="anonymous"></script>
    <script async src="{{ get_url(path="js/site.js", cachebust=true) }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
        integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g=="
        crossorigin="anonymous"></script>

    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>

</body>

</html>