{% extends "_layout.html" %} {% block content %}

<section class="section bg-light py-4">
  <div class="container">
    <h1 class="title">
      {{ page.title }}
    </h1>
    <!-- <p class="subtitle"><strong>{{ page.date }}</strong></p> -->
    <p>{{ page.content | safe }}</p>
  </div>
</section>

<section class="section bg-white pb-2">
  <div class="">
  <div class="row mx-0 my-0">
    <div class="column">
      {% for asset in page.assets | sort %} {% if asset is matching("[.](jpg|png)$") %}
      {% if loop.index % 4 == 1 %}
      <a href="{{ get_url(path=asset) }}" data-toggle="lightbox" data-gallery="image-gallery">
        <img class="img-fluid" src="{{ get_url(path=asset) }}" alt="{{ asset }}" />
      </a>
      {% endif %} {% endif %} {% endfor %}
    </div>
    <div class="column">
      {% for asset in page.assets | sort %} {% if asset is matching("[.](jpg|png)$") %}
      {% if loop.index % 4 == 2 %}
      <a href="{{ get_url(path=asset) }}" data-toggle="lightbox" data-gallery="image-gallery">
        <img class="img-fluid" src="{{ get_url(path=asset) }}" alt="{{ asset }}" />
      </a>
      {% endif %} {% endif %} {% endfor %}
    </div>
    <div class="column">
      {% for asset in page.assets | sort %} {% if asset is matching("[.](jpg|png)$") %}
      {% if loop.index % 4 == 3 %}
      <a href="{{ get_url(path=asset) }}" data-toggle="lightbox" data-gallery="image-gallery">
        <img class="img-fluid" src="{{ get_url(path=asset) }}" alt="{{ asset }}" />
      </a>
      {% endif %} {% endif %} {% endfor %}
    </div>
    <!-- <div class="column">
      {% for asset in page.assets | sort %} {% if asset is matching("[.](jpg|png)$") %}
      {% if loop.index % 4 == 4 %}
      <a href="{{ get_url(path=asset) }}" data-toggle="lightbox" data-gallery="image-gallery">
        <img class="img-fluid" src="{{ get_url(path=asset) }}" alt="{{ asset }}" />
      </a>
      {% endif %} {% endif %} {% endfor %}
    </div> -->
    <div class="column">
      {% for asset in page.assets | sort %} {% if asset is matching("[.](jpg|png)$") %}
      {% if loop.index % 4 == 0 %}
      <a href="{{ get_url(path=asset) }}" data-toggle="lightbox" data-gallery="image-gallery">
        <img class="img-fluid" src="{{ get_url(path=asset) }}" alt="{{ asset }}" />
      </a>
      {% endif %} {% endif %} {% endfor %}
    </div>
  </div>
</div>
</section>

{% endblock content %}